<h1>Editing Client</h1>

<%= render 'form', client: @client %>

<%= link_to 'Detalhes', @client , class: "waves-effect waves-light btn  blue darken-4 " %> |
<%= link_to 'Back', clients_path , class: "waves-effect waves-light btn  red" %>
