

  <div id='cssmenu'>
<ul>
   
   <li class='active has-sub'><a href='#'><span>Menu</span></a>
      <ul>
        <li class='has-sub'><li><%= link_to "Novo Paciente", new_client_path %></a>            
         </li>
        <li class='has-sub'><li><%= link_to "Consultar", clients_path %> </a>            
         </li>
         <li class='has-sub'><li><%= link_to "Retornos", vaccines_path %></a>            
         </li>
    
</ul>
</div>
        
 <script type="text/javascript">
 ( function( $ ) {
$( document ).ready(function() {
$('#cssmenu li.has-sub>a').on('click', function(){
        $(this).removeAttr('href');
        var element = $(this).parent('li');
        if (element.hasClass('open')) {
            element.removeClass('open');
            element.find('li').removeClass('open');
            element.find('ul').slideUp();
        }
        else {
            element.addClass('open');
            element.children('ul').slideDown();
            element.siblings('li').children('ul').slideUp();
            element.siblings('li').removeClass('open');
            element.siblings('li').find('li').removeClass('open');
            element.siblings('li').find('ul').slideUp();
        }
    });
});
} )( jQuery );

  </script>